.container-courses-page h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 60px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.container-courses-page.container {
    margin-bottom: 20px;
}

.container-courses-page {
    margin: auto;
    width: 90%;
}

.container-courses-page>hr {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}

.eWjCzc {
    background-color: white !important;
}

.eAyARa {
    background-color: white !important;
    box-shadow: none !important;
}

.eWjCzc:hover:enabled {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.eWjCzc:focus:enabled {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.eWjCzc {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;

}

.rec-dot {
    display: none;
}