.teacher-card-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.teacher-card-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}
.teacher-card-container p{
    text-align:center;
    /* line-height: 200px; */
    /* margin-left: 400px; */
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2em;


}