.teacher-card-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.teacher-card-container {
    width: 100%;
    height: 300px;
    margin-top:30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.teacher-card-container p {
    text-align: center;
    /* line-height: 200px; */
    /* margin-left: 400px; */
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}

#username-teacher-card {
    background-color: rgb(255, 165, 39);
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

#username-teacher-card p {
    font-weight: 600;
    padding-top: 5px;
    font-family: 'DM Serif Display', serif;
}

.container-courses-page-teacher {
    background-color: rgb(255, 165, 39);
    width: 80%;
    height: 10px;
    position: relative;
    top: -10px;
    margin-left: 20px;
}