.rating-card {
    border-bottom: 1px solid rgb(166, 166, 166);
    margin-bottom: 20px;
}

.rating-card-header {
    margin: 10px;
    display: flex;
    padding: 5px 30px;

}

.rating-card-header img {
    border-radius: 50%;
    object-fit: cover;
    width: 30px;

}

.rating-card-header h4 {
    margin-left: 20px;
}

.rating-card-footer {
    display: flex;
    justify-content: space-between;
}