.course-details-hero {
    background-color: #26292d;
    color: aliceblue;
    height: 350px;
    flex-flow: row nowrap;
    width: 100%;
}

.course-details-hero h1,
p {
    padding: 10px;
    padding-left: 100px;
}