.navbar-expand .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 3rem;
}

.me-auto a:hover {

    color: rgb(255, 165, 39);
}

.logout {
    font-family: 'Montserrat', sans-serif;
    line-height: 29px;
    cursor: pointer;
}

.user-navbar {
    font-weight: 500;
}