.searchbar {
    /* position: absolute; */
    z-index: 1000;
    display: flex;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 5px;
    /* border: 0.1em solid rgba(218, 208, 190, 1); */
    /* box-shadow: 0 0 0.3em rgba(60, 60, 60, 0.4); */
    /* padding: 0.3em; */
    /* background: white; */

}

.searchbar input {
    text-align: center;
    width: 300px;
    border-radius: 20px;
    border: 0.1em solid rgb(87, 87, 87);
}


#dropdown {
    position: absolute;
    z-index: 1000;
    margin-top: 2px;
    margin-left: 60px;
    /* padding: 10px; */
    border-radius: 2px;
    width: 300px;
    height: 200px;
    background-color: rgba(239, 239, 239, 0.6);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}


#dropdown a {
    text-decoration: none;
    text-align: left !important;
    /* padding-right: 100px; */
    color: black;
}

#dropdown a>p {
line-height: 1px;
}

#dropdown img {
    width: 30%;
    padding-right: 20px;
}