.searchBar {
    position: absolute;
    display: flex;
    font-size: 1em;
    border-radius: 8em;
    border: 0.1em solid rgba(218, 208, 190, 1);
    box-shadow: 0 0 0.3em rgba(60, 60, 60, 0.4);
    padding: 0.3em;
    background: white;

}

.desplegable {
    position: absolute;
    margin-top: 5px;
    padding: 10px;
    border-radius: 25px;
    width: 250px;
    height: 200px;
    background-color: rgb(204, 205, 204);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.desplegable a {
    text-decoration: none;
    color: black;
}

.desplegable img {
    width: 20%;
}

