.me-auto.navbar-nav a {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 10px;
    /* padding-left: 20px; */
    text-decoration: none;
}

#category-navbar {
    /* background-color: rgb(128, 128, 128); */
    border: 0.5px solid black;
    background-color: #212429;
}

#responsive-navbar-nav a {
    color: white;
}

#responsive-navbar-nav a:hover {
    color: rgb(255, 165, 39);
}