.container-student {
    margin-top: 40px;
    padding-top: 40px;
    height: 600px;
    /* background-color: red; */
    font-family: 'Montserrat', sans-serif;
}

.container-student h1 {
    font-size: 2em;
}

.courses-carousel {
    background-color: aquamarine;
    height: 300px;
}