.container-student {
    margin-top: 40px;
    padding-top: 40px;
    height: 600px;
    /* background-color: red; */
    font-family: 'Montserrat', sans-serif;
}

.container-student h1 {
    font-size: 2em;
}

.courses-carousel {
    background-color: aquamarine;
    height: 300px;
}

.username-box {
    background-color: rgb(38, 38, 38);
    height: 200px;
    width: 100%;
    color: white;
}

.username-box h1 {
    font-size: 4em;
    line-height: 200px;
    padding-left: 60px;
    font-family: 'DM Serif Display',serif;
}