.body-score-card {
    width: 100%;
    height: auto;
    margin: auto;
}


.score-card-small {
    display: flex;
    justify-content: space-between;

}

.score-card-small p {
    text-align: left;
    margin: 5px, 2px;

}
.stars {
    color: #f1c44d;
    align-items: flex-start;
}